*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
section{
    padding: 6rem auto;
    margin: 5rem 0;
  }

.icon_infos{
    margin-top: 2rem;
}
.icon_infos a img{
    width: 2rem;
    height: 2rem;
    background: var(--color-blanc);
    border-radius: 3em;
}
.icon_infos a{
    color: #FFFFFF;
    font-size: 2rem;
}
/*thème de couleur*/

:root{
    --color-primary : #121212;
    --color-bleu : #06B9DA;
    --color-jaune : #FCD402;
    --color-black : black;
    --color-white : white;

    --container-width-lg : 84%;
    --container-width-md : 90%;
    --container-width-sm : 92%;

    --transition:all 400ms ease;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat';
    color: var(--color-bg-1);
    background: var(--color-primary);
    line-height: 1.7;
}

h3{
    line-height: 1.1;
    font-weight: 700;
    font-size: 2rem;
}

h2{
    font-size: 24px;
}

h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 110%;
}

a{
    color: var(--color-noir);
    
}


.container{
    width: var(--container-width-lg);
    max-width: 1200px;
    margin: 0 auto;
}


img{
    display: block;
    object-fit: cover;
    width: 100%;
}

/*========================================*/
nav{
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    color: white;
}

nav button{
    display: none;
}

.window-scrolled{
    background: var(--color-primary);
    border-bottom: 0.2rem solid var(--color-bg-3);
    height: 7rem;
}

.nav_logo{
    width: 4rem;
}

.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu{
    display: flex;
    gap: 2rem;
    font-size: 14;
}
.nav_menu li:hover{
    color: var(--color-jaune);
}

.nav-contact{
    background-color: #06B9DA;
    padding: 12px 32px;
    border-radius: 10px;
}

/*==================END NAV======================*/

header{
    background-color: black;
    color: white;
}

.container_header{
    padding-top: 10rem;
    display: flex;
    gap: 4rem;
}

.header_desc{
    text-align: center;
}

.header_desc p{
    padding: 2rem 0rem 2rem 0rem;
    opacity: .8;
    font-weight: 100;
}

.header_desc_deco{
    color: var(--color-jaune);
}

/*==================Mission======================*/

.container_mission{
    display: flex;
    grid-template-columns: 50% 50%;
    color: white;
}

.mission_desc_deco{
    color: var(--color-bleu);
}

.mission_desc h2{
    font-size: 48px;
    font-weight: 500;
    line-height: 1.4;
}

.mission_desc p{
    font-size: 20px;
    padding: 2rem 0rem 2rem 0rem;
    font-weight: 100;
}

.mission_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*==================histoire======================*/

#histoire{
    background-color: black;
    color: white;
}
.container_histoire{
    display: flex;
    gap: 2em;
    padding: 3rem 0rem 3rem 0rem;
}

.histoire_desc h2{
    font-size: 48px;
    font-weight: 500;
    line-height: 1.4;
}

.histoire_desc p{
    font-size: 20px;
    padding: 2rem 0rem 2rem 0rem;
    font-weight: 100;
}

.histoire_image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*==================demarche======================*/

.container_demarche h2{
    font-size: 48px;
    font-weight: 500;
    line-height: 1.4;
    color: white;
    text-align: center;
    padding-bottom: 6rem;
}
.container_demarches{
    display: flex;
    gap: 2rem;
}

.demarche_1{
    border: .2px solid white;
    text-align: center;
}

.demarche_1 img{
    margin: auto;
    width: 10rem;
    height: 10rem;
}

.derma{
    padding: 2rem;
}

.derma h3{
    color: white;
    padding-top: 2rem;
    font-weight: 500;
    line-height: 1.4;
}

/*==================graphe======================*/
.stat_container{
    padding-top: 6rem;
    text-align: center;
    color: white;
    padding-bottom: 6rem;
}
.stat_graphe{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.stat_graphe .client{
    font-size: 72px;
    font-weight: bold;
}

.stat_graphe .partenaire{
    font-size: 72px;
    font-weight: bold;
    color: var(--color-jaune);
}

.stat_graphe .opacitée{
    color: var(--color-jaune);
}

.stat_graphe .campagne{
    font-size: 72px;
    font-weight: bold;
}

/*===================footer=================*/


/*========footer=========*/
hr{
    background-color: white;
    height: .1rem;
    opacity: .2;
}
.infos{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.contact h3{
    font-size: 1.5rem;
}
.contact p{
    opacity: .5;
}
.blogues h3{
    font-size: 1.5rem;
}
.blogues p{
    opacity: .5;
}
.sociaux h3{
    font-size: 1.5rem;
}
.sociaux p{
    opacity: .5;
}
.expertises h3{
    font-size: 1.5rem;
}
.expertises p{
    opacity: .5;
}

.signature p{
    color: white;
    opacity: .8;
    text-align: center;
    padding: 2rem 0rem 2rem 0rem;
}


/*===========media tablle ===========*/
@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }
    .nav_logo{
        margin-left: 2rem;
    }
    
    nav button{
        display: inline-block;
        margin-right: 1.4rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
        font-size: 2.4rem;
    }
    .nav_container{
        position: relative;
        width: 100vw;
    }
    .nav_menu{
        position: fixed;
        top: 5rem;
        right: 0;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        z-index: 3;
        display: none; 
    }
    .nav-contact{
        display: none;
    }
    .nav_menu li{
        width: 100%;
        height: 5.4rem;
        animation: flipNav 200ms ease forwards;
        transform-origin: top;
    }
    .nav_menu li:nth-child(2){
        animation-delay: 100ms;
    }
    .nav_menu li:nth-child(3){
        animation-delay: 200ms;
    }
    .nav_menu li:nth-child(4){
        animation-delay: 300ms;
    }
    .nav_menu li:nth-child(5){
        animation-delay: 400ms;
    }
    @keyframes flipNav {
        from{
            transform: rotateX(90deg);
            opacity: 0;
        }
        to{
            transform: rotateX(0deg);
        }
    }
    .nav_menu li a{
        background: var(--color-bleu);
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: -2rem 2rem 2rem rgba(0,0,0,0.2);
    }
    .nav_menu li a:hover{
        background: var(--color-primary);
        color: var(--color-bleu);
    }
   
    nav button{
        display: inline-block;
        margin-right: 1.4rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
        font-size: 2.4rem;
    }
    nav button#close-menu-btn{
        display: none;
    }
    /*==================header======================*/
    .header_image1{
        display: none;
    }
    .heade_image2{
        display: none;
    }
    /*==================Mission======================*/
    .container_mission{
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
    }

    /*==================histoire======================*/
    .container_histoire{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .histoire_image{
        display: none;
    }

    /*==================demarche======================*/
    .container_demarches{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    /*==================graphe======================*/

    .stat_graphe{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .stat_graphe .client{
        font-size: 72px;
        font-weight: bold;
    }

    .stat_graphe .partenaire{
        font-size: 72px;
        font-weight: bold;
        color: var(--color-jaune);
    }

    .stat_graphe .opacitée{
        color: var(--color-jaune);
    }

    .stat_graphe .campagne{
        font-size: 72px;
        font-weight: bold;
    }


    /*========footer=========*/
    .infos{
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }
}
/*===============phone===================*/
@media screen and (max-width: 600px) {
    .nav_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container{
        width: var(--container-width-sm);
    }
    .nav_logo{
        width: 3rem;
        margin-left: -.7%;
    }
    .nav_container button{
        font-size: 2rem;
        margin-right: -2%;
    }

    /*============herdear==========*/
    .header_desc h1{
        font-size: 38px;
    }

    /*=========mission========*/
    .mission_desc h2{
        font-size: 30px;
    }
    /*=========histoire========*/
    .histoire_desc h2{
        font-size: 30px;
    }
    /*=========demarche========*/
    .container_demarche h2{
        font-size: 30px;
    }

    /*=========stat========*/
    .stat_graphe{
        margin-top: -5rem;
    }
    .stat_graphe .client{
        font-size: 48px;
        font-weight: bold;
    }
    
    .stat_graphe .partenaire{
        font-size: 48px;
        font-weight: bold;
        color: var(--color-jaune);
    }
    
    .stat_graphe .campagne{
        font-size: 48px;
        font-weight: bold;
    }
}